storage
vendor
node_modules
.git
.idea
.expo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

rhs-mobile-app/node_modules
rhs-mobile-app/.expo
rhs-mobile-app/android/.gradle
rhs-mobile-app/android/build
rhs-mobile-app/android/.cxx
rhs-mobile-app/android/app/build
rhs-mobile-app/android/app/.cxx
rhs-mobile-app/rhs-*.png
